<!--
    THIS EXAMPLE WAS DOWNLOADED FROM https://echarts.apache.org/examples/zh/editor.html?c=line-simple
-->
<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="height: 500px; margin: 0 auto;margin-left:20px">
<br/>
<p><a href="#" onclick="total_radiation()">Total_radiation</a> &nbsp;
    <a href="#" onclick="direct_radiation()">Direct_radiation</a>&nbsp;
    <a href="#" onclick="diffuse_radiation()">Diffuse_radiation</a>
    <a href="#" onclick="Temperature()">Temperature</a>&nbsp;
    <a href="#" onclick="Pressure()">Pressure</a>&nbsp;
    <a href="#" onclick="Humidity()">Humidity</a>&nbsp;
    <a href="#" onclick="Actual_power()">Actual_power</a>&nbsp;
    <a href="#" onclick="Rated_power()">Rated_power</a>
</p>
<div id="container" style="height: 500px;width:100%;float:left;"></div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>

<!-- Uncomment this line if you want to dataTool extension
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/dataTool.min.js"></script>
-->
<!-- Uncomment this line if you want to use gl extension
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
-->
<!-- Uncomment this line if you want to echarts-stat extension
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
-->
<!-- Uncomment this line if you want to use map
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/map/js/china.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/map/js/world.js"></script>
-->
<!-- Uncomment these two lines if you want to use bmap extension
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=<Your Key Here>"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/bmap.min.js"></script>
-->
<script type="text/javascript">
    function total_radiation() {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);

        var option = {
            title: {
                // Translated the text
                text: 'Total_radiation Monitoring Curve                              Current Value：{{ Total_radiation_count_1 | safe }}',
            },
            tooltip: {
                trigger: 'axis',
                // Translated the comment
                axisPointer: {            // Axis indicator, effective when triggered by the axis
                    type: 'shadow'        // Default is line, can choose: 'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                data: {{Temperature_name | safe}},
                axisTick: {
                    alignWithLabel: true
                }
            },
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: 'Total_radiation',
                    type: 'line',
                    barWidth: '60%',
                    data: {{Total_radiation_count | safe}},
                }
            ]
        };
        option && myChart.setOption(option);
    }
</script>

<script type="text/javascript">
    function direct_radiation() {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);

        var option = {
            title: {
                // Translated the text
                text: 'Direct_radiation Monitoring Curve                           Current Value：{{ Direct_radiation_count_1 | safe }}',
            },
            tooltip: {
                trigger: 'axis',
                // Translated the comment
                axisPointer: {            // Axis indicator, effective when triggered by the axis
                    type: 'shadow'        // Default is line, can choose: 'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                data: {{Temperature_name | safe}},
                axisTick: {
                    alignWithLabel: true
                }
            },
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: 'Direct_radiation',
                    type: 'line',
                    barWidth: '60%',
                    data: {{Direct_radiation_count | safe}}
                }
            ]
        };

        if (option && typeof option === 'object') {
            myChart.setOption(option);
        }
    }
</script>

<script type="text/javascript">
    function diffuse_radiation() {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);

        var option = {
            title: {
                // Translated the text
                text: 'Diffuse_radiation Monitoring Curve                           Current Value：{{ Diffuse_radiation_count_1 | safe }}',
            },
            tooltip: {
                trigger: 'axis',
                // Translated the comment
                axisPointer: {            // Axis indicator, effective when triggered by the axis
                    type: 'shadow'        // Default is line, can choose: 'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: {{Temperature_name | safe}},
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: 'Diffuse_radiation',
                    type: 'line',
                    barWidth: '60%',
                    data: {{Diffuse_radiation_count | safe}}
                }
            ]
        };

        if (option && typeof option === 'object') {
            myChart.setOption(option);
        }
    }
</script>
<script type="text/javascript">
    function Temperature() {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var option = {
            title: {
                text: 'Temperature Monitoring Curve                                Current Value: {{ Temperature_count_1 | safe }}',
            },
            // ... rest of the code remains unchanged ...
        };
        // ... rest of the function remains unchanged ...
    }

</script>

<script type="text/javascript">
    function Pressure() {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var option = {
            title: {
                text: 'Pressure Monitoring Curve                                Current Value: {{ Pressure_count_1 | safe }}',
            },
            // ... rest of the code remains unchanged ...
        };
        // ... rest of the function remains unchanged ...
    }

</script>

<script type="text/javascript">
    function Humidity() {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var option = {
            title: {
                text: 'Humidity Monitoring Curve                                Current Value: {{ Humidity_count_1 | safe }}',
            },
            // ... rest of the code remains unchanged ...
        };
        // ... rest of the function remains unchanged ...
    }

</script>

<script type="text/javascript">
    function Actual_power() {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var option = {
            title: {
                text: 'Actual Monitoring Curve                                Current Value: {{ Actual_power_count_1 | safe }}',
            },
            // ... rest of the code remains unchanged ...
        };
        // ... rest of the function remains unchanged ...
    }

</script>

<script type="text/javascript">
    function Rated_power() {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var option = {
            title: {
                text: 'Rated Power Monitoring Curve                                Current Value: {{ Rated_power_count_1 | safe }}',
            },
            // ... rest of the code remains unchanged ...
        };
        // ... rest of the function remains unchanged ...
    }

</script>

<script>
    // The commented out lines remain unchanged
    total_radiation()
</script>

</body>
</html>

